PORT="3030"
RUNNER_API_KEY=""
RUNNER_IMAGE="proper-thing/python-runner:gui"
RUNNER_RUFF_IMAGE="ghcr.io/astral-sh/ruff:latest"
RUNNER_MEMORY="256m"
RUNNER_CPUS="0.5"
RUNNER_TIMEOUT_MS="120000"
RUNNER_TOOL_TIMEOUT_MS="20000"
RUNNER_NETWORK="none"
RUNNER_DISPLAY_NETWORK="bridge"
MAX_BUFFERED_EVENTS="250"
MAX_TOOL_INPUT_BYTES="250000"
RUNNER_SESSION_RETENTION_MS="30000"
RUNNER_DISPLAY_NUMBER="99"
RUNNER_DISPLAY_VNC_PORT="5900"
RUNNER_DISPLAY_NOVNC_PORT="6080"
RUNNER_DISPLAY_SCREEN="1280x720x24"
RUNNER_DISPLAY_START_TIMEOUT_MS="15000"
